body{
    margin: 0;
    padding: 0;
}
.half-width{
    display: flex;
    width: 90%;
    margin: 0 auto;
    
}
.color-change{
    color:orangered;
}
.line{
    border-left: 2px solid;
    border-color: rgb(129, 27, 27);
      
}
.button{
    text-decoration: none;
   background-color: blue;
   color: white;

    padding: 10px 30px;
    border-radius: 5px;
}
.picture img{
    width: 50%;
}

.middle{
 text-align: center;   
 margin-top: 30px;
}
.middle h1{
    margin-top: 50px;
}
.small{
    color: rgb(245, 54, 92);
}
.good-student{
    display: flex;
  
    width: 100%;
}
.mission{
    background-color: rgb(141, 152, 163);
    border-radius: 20px;
    margin: 0 30px;
    width: 30%;
    padding-left: 40px;
}

.mission p{
    width: 100%;
    margin-right: 10px;
}
.mission img{
    width: 50%;
}
.vission{
    background-color: rgb(192, 157, 169);
    border-radius: 20px;
    margin: 0 30px;
    width: 30%;
    height: 20%;
    padding-left: 40px;
}
.vission p{
    width:100%;
    margin-right: 10px;
}
.vission img{
    width:50%;
}
.goals{
    background-color:paleturquoise;
    border-radius: 20px;
    margin: 0 30px;
    width: 30%;
    padding-left: 40px;


}
.goals p{
    width:100%;
    margin-right: 10px;
}
.goals img{
    width:50%;
}

.limit{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;

   
}
.coding{
    width: 50%;
}
.coding img{
    width : 200px;
    padding-left: 100px;
    padding-top: 10%;
    
}
.improve{
    width: 80%;
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
}
.document{
    text-decoration: none;
   background-color: blue;
   color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
    width: 100%;   
}
.process{
    width:50%;
}
.process img{
    width:200px;
    padding-right: 20%;


}
.global-text{
    width: 80%;
}

.global{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
.application{
    text-align: center;
    padding-top: 20px;
}
.student{
    color: rgb(201, 59, 106);
}
.mobile{
    width: 50%;
}
.mobile img{
  width: 200px;
  padding-left: 40%;
}
.portal{
    color:rgb(187, 30, 82);
}
.details{
    text-decoration: none;
   background-color:blue;
   color: white;
    padding: 10px 30px;
    border-radius: 5px;

}

.form{
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;

}
.paragraph{
    text-align:left;
    width: 60%;
    padding-right: 65px;
}
.hardwork{
    background-color: black;
    font-style: italic;
    color: blanchedalmond;
    text-align: center;
    margin-left :40px; ;

}
.last-shot{
    color: slateblue;
}


