body{
    width: 80%;
}


.color-change{
    color: darkorchid;
}
.line{
    border-left: 2px solid;
    border-color: red;
    
}
.button{
    text-decoration: none;
   background-color: cornflowerblue;
    padding: 10px 30px;
    border-radius: 5px;
}
.picture img{
    width: 70%;
}
.half-width{
    display: flex;
    width: 80%;
    padding-left:25% ;
    



}

.small{
    color:rgb(160, 134, 172);
}
.middle{
 text-align: center;
 
    
}
.middle h1{
    margin-top: 50px;
}
.good-student{
    display: flex;
  
    width: 100%;
}

.mission{
    background-color: rgb(141, 152, 163);
    border-radius: 20px;
    margin: 0 30px;
    width: 30%;
    padding-left: 40px;
    

}


.mission p{
    width: 100%;
    margin-right: 10px;
}
.mission img{
    width: 50%;
}
.vission{
    background-color: rgb(192, 157, 169);
    border-radius: 20px;
    margin: 0 30px;
    width: 30%;
    height: 20%;
    padding-left: 40px;
}
.vission p{
    width:100%;
    margin-right: 10px;
}
.vission img{
    width:50%;
}
.goals{
    background-color:paleturquoise;
    border-radius: 20px;
    margin: 0 30px;
    width: 30%;
    padding-left: 40px;


}
.goals p{
    width:100%;
    margin-right: 10px;
}
.goals img{
    width:50%;
}

.limit{
    display: flex;
    width: 80%;
    margin: 0 auto;
   
}
.coding{
    width: 50%;
}
.coding img{
    width : 200px;
    padding-left: 100px;
    padding-top: 10%;
    
}
.improve{
    width: 80%;
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
    

}
.document{
    text-decoration: none;
   background-color: cornflowerblue;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
    
}
.process{
    width:50%;
}
.process img{
    width:200px;
    padding-right: 20%;


}
.global-text{
    width: 80%;
}

.global{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

